{% extends "lens/base.html" %}
{%load crispy_forms_tags %} 


{% block content %}
<h1>Canvas Lens Quickstart Guide</h1>
    <p class="fs-5 col-md-8">Watch the video below to get started.</p>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-12">
        <iframe width="560px" height="320px" allowfullscreen="true" allow="autoplay *" title="Canvas Lens Quick Start" src="https://liverpool.instructuremedia.com/embed/acbf05cd-bfde-4a30-b48f-8ab4f3119bc2" frameborder="0"></iframe>
      </div>
    </div>
{% endblock %} 
