{% extends "lens/base.html" %}

<style>

</style>

{% block content %} 
<h2>Report Scheduled!</h2>
</br>
<p>You should receive your first report within 24 hours.</p>
<p>You will receive your report via your <a href="https://community.canvaslms.com/t5/Student-Guide/How-do-I-use-the-Inbox-as-a-student/ta-p/532#:~:text=In%20Global%20Navigation%2C%20click%20the%20Inbox%20link." target="_blank">Canvas Inbox</a>. Check your "Sent" messages.</p>
<p></p>Not getting your reports? Contact <a href="mailto:R.Treharne@liverpool.ac.uk">R.Treharne@liverpool.ac.uk</a></p>
<a href="{% url 'lens:index' %}">Create anoter report</a>
{% endblock %} 